// Externals

// Setup
@import "setup/variables";
@import "setup/mixins";

// Basics
@import "basics/typography";
@import "basics/base";
@import "basics/helpers";
@import "basics/layout";
@import "basics/modals";
@import "basics/animations";

// Views
@import "views/mister-bitcoin-contactPage";
@import "views/mister-bitcoin-details";
@import "views/mister-bitcoin-edit";
@import "views/loginSignUp";
@import "views/setting";

// Components
@import "cmps/home-page-preview";
@import "cmps/mister-bitcoin-preview";
@import "cmps/app-header";
@import "cmps/move";
@import "cmps/Loader";

.main-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    main {
        flex-grow: 1;
        width: 100%;

        .green {
            color: $green;
        }

        .red {
            color: $red;
        }

        .approved {
            span {
                color: $green;
            }
        }

        .rejected {
            span {
                color: $red;
            }
        }

        .pending {
            span {
                color: $clr1;
            }
        }
    }

    >footer {
        z-index: 2;
        background-color: $clr12;
        color: $clr3;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 0;
        width: 100%;

        @include for-normal-layout {
            background-color: $clr6;
            border-top-left-radius: 555px;
            border-top-right-radius: 555px;
        }

        .footer-1 {
            height: 1.5em;
            display: none;

            @include for-normal-layout {
                display: flex;
            }
        }

        .footer-2 {
            display: flex;

            @include for-normal-layout {
                display: none;
            }

            .opacity-1 {
                a {
                    opacity: 1;
                    transition: 0.5s;
                }
            }

            .opacity-0 {
                a {
                    opacity: 0;
                    transition: 0.5s;
                }
            }

            a {
                &:hover:not(.active) {
                    opacity: 0.5;
                }

                &.active {
                    box-shadow: inset 0 -4px $clr6;
                }
            }

            justify-content: center;

            nav {

                .contacts,
                .home,
                .setting {
                    >* {
                        width: 1.8em;
                        height: 1.8em;
                    }
                }

                gap: 1em;
            }
        }
    }
}