.app-header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 3;
    margin-block-end: 1em;
    background-color: $clr6;
    color: $clr3;
    border-bottom-left-radius: 555px;
    border-bottom-right-radius: 555px;

    .opacity-1 {
        a {
            opacity: 1;
            transition: 0.5s;
        }
    }

    .opacity-0 {
        a {
            opacity: 0;
            transition: 0.5s;
        }
    }

    a {
        &:hover:not(.active) {
            opacity: 0.5;
        }

        &.active {
            box-shadow: inset 0 -4px $clr3;
        }
    }

    h1.logo {
        flex-grow: 1;
        font-weight: 600;
    }

    justify-content: center;

    nav {
        img {
            width: 2em;
        }

        gap: 1em;
    }
}