.app-header {
    display: none;

    @include for-normal-layout {
        display: flex;
    }

    position: sticky;
    top: 0;
    width: 100%;
    z-index: 3;
    margin-block-end: 1em;
    background-color: $clr6;
    color: $clr3;
    border-bottom-left-radius: 555px;
    border-bottom-right-radius: 555px;

    .opacity-1 {
        a {
            opacity: 1;
            transition: 0.5s;
        }
    }

    .opacity-0 {
        a {
            opacity: 0;
            transition: 0.5s;
        }
    }

    a {
        &:hover:not(.active) {
            opacity: 0.5;
        }

        &.active {
            box-shadow: inset 0 -4px $clr3;
        }
    }

    justify-content: center;

    nav {

        .contacts,
        .home,
        .setting {
            >* {
                width: 1.8em;
                height: 1.8em;
            }
        }

        gap: 1em;
    }
}