.contacts-list {
    .contact-filter {
        margin-block-start: 1em;

        @include for-normal-layout {
            margin-block-start: 0;
        }

        margin-block-end: 1em;

        input {
            border-radius: 555px;
        }
    }

    .contacts-list-preview {
        .contact-preview {
            background-color: $clr10;
            border-radius: 555px;
            align-items: center;
            margin-block-start: 1em;

            p {
                margin-inline-start: 0.5em;
            }

            img {
                width: 3em;
            }

            section {
                width: 100%;
                justify-content: space-between;
            }
        }

        @include for-tablet-layout {
            display: flex;
            flex-wrap: wrap;
            gap: 3em;

            .contact-preview {
                margin: auto;
                border-radius: 20%;
                height: 10em;
                flex-direction: column;
                background: none;

                img {
                    width: 5em;
                }

                a:hover {
                    color: lighten($clr3, 50%);
                    background: none;
                }
            }
        }
    }
}