.moves hr,
.last-moves hr {
    display: none;

    @include for-tablet-layout {
        display: block;
    }
}

.moves,
.last-moves,
.pending-moves {
    @include for-tablet-layout {
        margin-block-start: 1em;
    }
}

.moves,
.last-moves,
.pending-moves {
    @include for-tablet-layout {
        background-color: $clr10;
        margin-block-end: 1em;
    }

    @include for-tablet-layout {
        background: none;
    }

    padding: 0.5em;
    border-radius: 0.5em;
    text-align: center;

    .moves-list-preview,
    .pendingMoves-list-preview {
        gap: 3em;

        @include for-tablet-layout {
            display: flex;
            flex-wrap: wrap;
        }

        .info {
            margin-block-end: 0.5em;
        }

        >* {
            margin: auto;
            text-align: center;
            border-radius: 0.5em;
            background-color: $clr11;
            margin-block-end: 1em;
            line-height: 1.5em;

            @include for-tablet-layout {
                padding: 1em;
                border-radius: 2.5em;
            }

            .at {
                font-size: 0.9rem;
            }

            .title {
                color: $yellow;
                margin-block: 0.5em;
                margin: auto;
                width: 80%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                @include for-normal-layout {
                    width: 100%;
                }
            }

            .action {
                margin: auto;
                margin-block: 0.5em;
                gap: 0.5em;

                .approve {
                    color: $green;
                }

                .reject {
                    color: $red;
                }
            }

            .to,
            .from {
                margin: auto;
                margin-block: 0.5em;
                width: 60%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                .add {
                    >* {
                        margin-inline-start: 0.2em;
                        cursor: pointer;
                    }
                }

                @include for-tablet-layout {
                    width: 100%;
                }
            }

            a {
                text-decoration: none;

                span {
                    text-decoration-line: underline;
                    margin-inline-start: 0.2em;
                }

            }
        }
    }

    .moves-list-preview {
        .info {
            margin-block: 0.1em;
        }

        .to,
        .from {
            margin-block-start: 0.2em;
        }
    }
}