$clr1: #afafaf;
$clr2: #c3c3c3;
$clr3: #1e1e1e;
$clr4: #f3f3f3;
$clr5: #f2f2f2;
$clr6: #fbfbfb;
$clr7: #0e0e0e;
$clr8: rgb(38, 37, 37);
$clr9: rgb(59, 59, 66);
$clr10: #17171785;
$clr11: #1717178a;
$clr12: #171717;

$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;