.add {
    z-index: 2;
    position: fixed;
    bottom: 1em;
    right: 1em;
    height: 3em;
    width: 3em;
    justify-content: center;
    padding: 0;

    img {
        width: 3em;
        border-radius: 50%;
        border: solid 2px $clr2;
    }
}