* {
  box-sizing: border-box;
}

html {
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Assistant-Medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $clr5;
  background: linear-gradient(180deg, rgb(9, 9, 13) 0%, rgb(59, 59, 66) 15%, rgb(26, 27, 36) 100%) no-repeat;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

a {
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;

  * {
    pointer-events: none;
  }
}

.back,
.remove,
.add {
  cursor: pointer;
  background: transparent;
  color: $clr5;
  opacity: 0.7;
  transition: 0.3s all;
  padding: 0;

  >* {
    height: 1.5em;
    width: 1.5em;
  }

  &:disabled {
    cursor: initial;
    opacity: 0.2;
  }

  &:hover:not(:disabled) {
    opacity: 1;
  }
}

input {
  font-family: inherit;
  text-align: inherit;
}

// MAC like scrollbar
::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
  -webkit-border-radius: 100px;
}