@font-face {
    src: url(../fonts/Assistant-Bold.ttf);
    font-family: Assistant-Bold;
}

@font-face {
    src: url(../fonts/Assistant-Medium.ttf);
    font-family: Assistant-Medium;
}

@font-face {
    src: url(../fonts/Assistant-ExtraLight.ttf);
    font-family: Assistant-ExtraLight;
}